/* Base reset and defaults */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

html.dark {
  color-scheme: dark;
}

::picker(select) {
  border: none;
}
