name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  ci:
    uses: lumirelle/workflows/.github/workflows/ci.yml@v3
    with:
      test: 'nr test --coverage #'
